figure {
	margin: 0;
}

.swiper-button {
	&::after {
		content: none;
	}
}

.container .site-content .content-area {
	max-width: 100%;
}

.background-transparent {
	background-color: transparent;
}

body {
	font-family: var(--font-sans);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-sans);
	font-weight: 700;
	letter-spacing: -0.02em;
}
