.section--md {
	& .container {
		max-width: var(--bs-breakpoint-md);
	}
}

.section--lg {
	& .container {
		max-width: var(--bs-breakpoint-lg);
	}
}

.section--xl {
	& .container {
		max-width: var(--bs-breakpoint-xl);
	}
}
