.feature-list-two-up {
	& .feature-list-two-up__inner {
		@media (--lg) {
			padding-right: 2em;
		}

		@media (--xl) {
			padding-right: 4em;
		}
	}

	&.swap-row {
		@media (--lg) {
			& .row {
				flex-direction: row-reverse;
			}
		}

		& .feature-list-two-up__inner {
			@media (--lg) {
				padding-left: 2em;
			}

			@media (--xl) {
				padding-left: 4em;
			}
		}
	}
}

.feature-list-two-up.bg-secondary {
	& .feature-list-two-up__item-text {
		border-bottom-color: var(--bs-black);
	}
}
