.logo-grid__image {
	max-height: 60px;
	width: auto;
	filter: grayscale(100%);
	opacity: 0.7;
	transition: all 0.3s ease;
}

.logo-grid__link:hover .logo-grid__image,
.logo-grid__col:hover .logo-grid__image {
	filter: grayscale(0%);
	opacity: 1;
}
