.two-up-image--reverse {
	& .two-up-image__row {
		@media (--lg) {
			flex-direction: row-reverse;
		}
	}
}

.two-up-image--compact {
	& .two-up-image__row {
		margin: 0;
	}

	& .two-up-image__col {
		padding: 0;
	}
}
